.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url("../assets/icons/carta.jpg") no-repeat center center;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

.options-container h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 5px #000;
}

.options-content {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    text-shadow: 1px 1px 3px #000;
}

.options-content label {
    cursor: pointer;
}

.options-content input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.5);
}

label {
    cursor: url('../assets/cursor/yugicursor.png'), default;
}

label:hover {
    cursor: url('../assets/cursor/yamiyugicursorGLOW.png'), auto;
}


input[type="checkbox"] {
    cursor: url('../assets/cursor/yugicursor.png'), default;
}

input[type="checkbox"]:hover {
    cursor: url('../assets/cursor/yamiyugicursorGLOW.png'), auto;
}